.services{
    display: flex;
    justify-content:space-evenly;
    align-items: center; 
    padding-top: 80px;
    padding: 10px 70px;
   
}
.img_logo{
    height: 70px;
}
.services h1{
    font-family: 'Abril Fatface', cursive;
    font-family: 'PT Serif', serif;
    font-size: 45px;
}
.services p{
    color:#222323; 
    font-size: 15px;
}
@media(max-width:576px){
    .services{
        flex-wrap: wrap;
        padding: 50px 0px;
    }
    .service_image{
        height: 400px;
    }
}